<!DOCTYPE html>
<html>
  <head>
    <title>AdsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="container">
    <p>
    <%= flash.notice %>
    <%= flash.alert %>
    </p>
    
    <nav>
    <% if user_signed_in? %>
      <%= button_to "Log Out", sign_out_sessions_path, method: :delete %>
      <%= link_to "Create New Ad", new_ad_path %>
    
    <% else %>
    <%= link_to 'Sign Up', new_user_path %>
    <%= link_to 'Sign In', new_session_path %> 
    <% end %>   
    </nav>
  

    <%= yield %>
   </div>
  </body>
</html>
